# Переменные окружения
.env

# Данные
data/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
*.egg-info/
dist/
build/

# Virtual Environment
venv/
env/
ENV/

# IDE
.vscode/
.idea/
*.swp
*.swo

# Логи
*.log

# OS
.DS_Store
Thumbs.db

# Temporary files
*.tmp
*.crdownload
last_page.html

